* {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
}

.child {
    width: 22%;
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
}

.fragment {
    display: flex;
    justify-content: center;
}

.h1 {
    font-size: 3em;
}

.h3 {
    font-size: x-large;
}

.photo {
    height: 256px;
    width: 256px;
}

.info {
width: 100%;
display: flex;
    justify-content: left;
    align-items: center;
}

.main-info {

}

.centrality {
    width: 80%;
}