.selected-items__flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.selected-items__item {
  position: relative;
  background-color: #f1f1f1;
  box-sizing: border-box;
  margin: 5px 5px 0 0;
  padding: 10px 18px 10px 10px;
  text-align: left;
}

.selected-items__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1.5px solid #7482ff;
}

.selected-items__item svg {
  width: 15px;
  height: 15px;
}

.selected-items__svg {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
